<div class="d-flex flex-column justify-content-between h-100">
  <div class="h-25">
    <h1>Trạng thái SSCĐ và cấp độ xử trí tình huống trên KGM</h1>
  </div>
  <div class="table-top-border table-responsive h-75">
    <table class="table table-bordered table-striped h-95">
      <thead>
        <tr>
          <th></th>
          <th>BTL</th>
          <th>T1</th>
          <th>T2</th>
          <th>T3</th>
          <th>V4</th>
          <th>T5</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tổng quan</td>
          <td><span class="status status-orange">Cao</span></td>
          <td><span class="status status-orange">Cao</span></td>
          <td><span class="status status-orange">Cao</span></td>
          <td><span class="status status-orange">Cao</span></td>
          <td><span class="status status-green">Thường xuyên</span></td>
          <td><span class="status status-orange">Cao</span></td>
        </tr>
        <tr>
          <td>Cấp độ phòng thủ mạng</td>
          <td><span class="status status-green">Cấp độ 1</span></td>
          <td><span class="status status-green">Cấp độ 1</span></td>
          <td><span class="status status-green">Cấp độ 1</span></td>
          <td><span class="status status-green">Cấp độ 1</span></td>
          <td><span class="status status-green">Cấp độ 1</span></td>
          <td><span class="status status-green">Cấp độ 1</span></td>
        </tr>
        <tr>
          <td>Cấp độ tác chiến thông tin</td>
          <td><span class="status status-orange">Cấp độ 3</span></td>
          <td><span class="status status-orange">Cấp độ 3</span></td>
          <td><span class="status status-orange">Cấp độ 3</span></td>
          <td><span class="status status-orange">Cấp độ 3</span></td>
          <td><span class="status status-green">Cấp độ 1</span></td>
          <td><span class="status status-orange">Cấp độ 3</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
