<div class="row m-10 top-panel-height">
  <div class="col bg-top-panel border-top-panel p-5 me-5">
    <app-duty-roster></app-duty-roster>
  </div>
  <div class="col bg-top-panel border-top-panel p-5 me-5">
    <app-military-strength></app-military-strength>
  </div>
  <div class="col bg-top-panel border-top-panel p-5 me-5">
    <app-operational-command></app-operational-command>
  </div>
  <div class="col bg-top-panel border-top-panel p-5 me-5">
    <app-combat-readiness></app-combat-readiness>
  </div>
  <div class="col bg-top-panel border-top-panel p-5 me-5">
    <app-weapons-status></app-weapons-status>
  </div>
</div>
